desktop/code/app/jade/player.jade
doctype html
html(lang="en")
	include includes/base/head.jade

	body._min_h_auto

		include includes/b-preloader.jade

		.-ol-body._hidden.b-player-animation.c-move-tracking( data-class="b-player-animation_disabled" data-time="5000" data-first-init="true" data-first-init-delay="1500" )

			.b-player__img.b-player-animation__item.b-player-animation__item_before.b-player-animation__item_after(style="background-image: url(media/img/content/sessions/1.jpg)")

			a.b-close.b-player-animation__item.b-player-animation__item_to_top(href="mindfulness_sessions.html")

				.b-close__text Close

			.b-player.b-player-animation__item.b-player-animation__item_to_bottom.b-player-animation__item_to_bottom_none_mb

				.b-player__item

					button.b-player__play-btn.b-player__btn.b-player-animation__btn

					button.b-player__pause-btn.b-player__btn.b-player__btn_active.b-player-animation__item.b-player-animation__item_opacity_mb

				.b-player__item.b-player__item_next_to_btn

					.b-player__current-time.b-player-animation__item.b-player-animation__item_to_bottom_fixed_mb

						.b-player__current-time-text 2:34

				.b-player__item.b-player__item_major

					.b-player__item-inner

						.b-player__name.b-player-animation__name.b-player-animation__item.b-player-animation__item_opacity_mb

							.b-player__name-text Foundation

						.b-player__progress-control.b-player-animation__item.b-player-animation__item_to_bottom_fixed_mb

							button.b-player__progress-holder

							.b-player__progress-control-bar

								.b-player__load-progress
								.b-player__play-progress

				.b-player__item

					.b-player__duration.b-player-animation__item.b-player-animation__item_to_bottom_fixed_mb

						.b-player__duration-text 11:56



		script(
			src="dist/js/lib/jquery.min.js" )

		script(
			src="dist/js/specific/app.js" )

desktop/code/player.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="all">
    <meta name="author" content="Libris">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Financial Mindfulness</title>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128">
    <meta name="application-name" content="Financial Mindfulness">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="mstile-144x144.png">
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png">
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png">
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png">
    <link rel="stylesheet" href="dist/css/all.min.css"><!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="dist/js/plugin/pace.js"></script>
  </head>
  <body class="_min_h_auto">
    <div class="b-preloader c-preloader-progress">
      <div class="b-preloader__inner">
        <div class="b-preloader__progress _tb_none c-preloader-progress__bar"></div>
        <div class="b-preloader__progress b-preloader__progress_h _tb_only c-preloader-progress__bar_vert"></div>
        <div class="b-preloader__counter">
          <div class="b-preloader__counter-text c-preloader-progress__number">0</div>
        </div>
        <div class="b-preloader__icon"></div>
      </div>
    </div>
    <div data-class="b-player-animation_disabled" data-time="5000" data-first-init="true" data-first-init-delay="1500" class="-ol-body _hidden b-player-animation c-move-tracking">
      <div style="background-image: url(media/img/content/sessions/1.jpg)" class="b-player__img b-player-animation__item b-player-animation__item_before b-player-animation__item_after"></div><a href="mindfulness_sessions.html" class="b-close b-player-animation__item b-player-animation__item_to_top">
        <div class="b-close__text">Close</div></a>
      <div class="b-player b-player-animation__item b-player-animation__item_to_bottom b-player-animation__item_to_bottom_none_mb">
        <div class="b-player__item">
          <button class="b-player__play-btn b-player__btn b-player-animation__btn"></button>
          <button class="b-player__pause-btn b-player__btn b-player__btn_active b-player-animation__item b-player-animation__item_opacity_mb"></button>
        </div>
        <div class="b-player__item b-player__item_next_to_btn">
          <div class="b-player__current-time b-player-animation__item b-player-animation__item_to_bottom_fixed_mb">
            <div class="b-player__current-time-text">2:34</div>
          </div>
        </div>
        <div class="b-player__item b-player__item_major">
          <div class="b-player__item-inner">
            <div class="b-player__name b-player-animation__name b-player-animation__item b-player-animation__item_opacity_mb">
              <div class="b-player__name-text">Foundation</div>
            </div>
            <div class="b-player__progress-control b-player-animation__item b-player-animation__item_to_bottom_fixed_mb">
              <button class="b-player__progress-holder"></button>
              <div class="b-player__progress-control-bar">
                <div class="b-player__load-progress"></div>
                <div class="b-player__play-progress"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="b-player__item">
          <div class="b-player__duration b-player-animation__item b-player-animation__item_to_bottom_fixed_mb">
            <div class="b-player__duration-text">11:56</div>
          </div>
        </div>
      </div>
    </div>
    <script src="dist/js/lib/jquery.min.js"></script>
    <script src="dist/js/specific/app.js"></script>
  </body>
</html>
